/*--------------------------------------------------------------------File name:style.css--------------------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------import fonts--------------------------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap');

/*----------------------------------------------------------------------------skeleton----------------------------------------------------------------------------------------------*/
/*unified heading for all titles*/
.unify-heading {
    font-size:80px;
      font-weight: 200 !important;
      letter-spacing: 4px;
      font-family: "Calibri";
      color:white;
      text-align: left;
  }

/*full background*/
.full-background{
  background-color: #0e0725;
}

/*lobster two font style*/
.logo_text{
font-family:Lobster Two;
font-size: 100;
}

/*Back to top button*/
#btn-top{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border-radius: 50%;
  cursor: pointer;
  padding: 15px;
  background-color: transparent;
  
}

/*hover effect forback to top button*/
#btn-top:hover {
  background-color: #FC466B;
  
}


/*Header section css start*/
/*background for the header section*/
.header_section {
    width:auto;
    float: center;
    background-image: url("fluid-bg2.jpg");
    opacity: 100%;
    height:auto;
    padding: 20px 0;
    background-size: auto;
    background-repeat: no-repeat;
    min-height: 120vh;
    background-position: right 35% bottom 45%;
}

/*gradient text for logo title(Intern-Net)*/
.gradient_text{
background-color:transparent;
background-image:linear-gradient(
    45deg,
    #fcdb46 30%,
    #FC466B 60%,
    #3F5EFB 90%);

    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;
}

/*animation for logo's title*/
@keyframes rainbow-text-simple-animation-rev {
    0% {
        background-size: 650%;
    }
    40% {
        background-size: 650%;
    }
    100% {
        background-size: 100%;
    }
}

/*navbar*/
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    width: 100%;
    transition: background 0.6s ease-in;
    z-index: 99999;
  }

  /*navbar logo's title style(Intern-Net)*/
.navbar .navbar-brand{
    font-family:"Lobster Two";
    font-weight:Normal;
    font-size: 65px;
    text-align: center;
}

/*nav bar style*/
.nav_color a {
    font-family:"Arial";
    font-size:15px;
    letter-spacing:2px; 
    color:white; 
}

/*log in button*/
.login-bt{
    width: 100%;
    float: left;
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    height: 40px;
}

/*log in button before hover*/
.top-button-section li a.login-bt {
    width: auto;
    float: left;
    font-size: 15px;
    font-family:Arial;
    text-align: center;
    background-color:transparent;
    border-radius: 20px;
    height: 40px;
    line-height: 40px;
    color:white;
    padding: 0 20px;
}

/*log in button hover*/
.top-button-section li a.login-bt:hover,
.top-button-section li a.login-bt:focus,
.top-button-section li a.login-bt.active {
   background: rgba(126,27,133,255)
   ;
}

/*remove any designs*/
a:hover { text-decoration: none; }
a:link { text-decoration: none; }

.banner-section{
    width: 100%;
    float: left;
    padding-top: 150px;
}

#main_slider div.img-box {
    margin-top: 10;
    float: right;
    padding-left: 100px;
}

.banner_taital {
    width: 100%;
    float: left;
    letter-spacing: 2px;
    font-size: 59px;
    font-family: "Arial";
    color: #FC466B;
    font-weight: 600;
    text-align: left;
    padding-top: 70px;
}	

.lorem_text {
    width: 100%;
    float: left;
    font-size: 15px;
    font-family:"Arial";
    color: #ffffff;
    padding-left: 0;
    margin: 10px 0 0;
}

.ads_bt {
    width: 35%;
    float: left;
    height: 50px;
    font-size: 18px;
    background-color: white;
    border-radius: 30px;
    margin-left: 0;
    margin-top: 30px;
    text-align: center;
    padding-top: 5px;
}

.ads_bt a{ 
    color: rgba(20,0,53,255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight:Bold;
    font-size:25px;

}
/*Header section css end*/

/*Testimonial css start*/

.align-center {
    text-align: center;
}
.hash-list {
    display: block;
    padding: 0;
    margin: 0 auto;
}

@media (min-width: 768px){
    .hash-list.cols-3 > li:nth-last-child(-n+3) {
        border-bottom: none;
    }
}
@media (min-width: 768px){
    .hash-list.cols-3 > li {
        width: 33.3333%;
    }
}
.hash-list > li {
    display: block;
    float: left;
    border-right: 3px solid rgb(255, 255, 255);
    border-bottom: 3px solid rgb(255, 255, 255);
}
.pad-30, .pad-30-all > * {
    padding: 30px;
}
img {
    border: 0;
}
.mgb-20, .mgb-20-all > * {
    margin-bottom: 20px;
}
.wpx-100, .wpx-100-after:after {
    width: 100px;
}
.img-round, .img-rel-round {
    border-radius: 50%;
    border:3px solid rgb(255, 255, 255);
}
.padb-30, .padb-30-all > * {
    padding-bottom: 30px;
}

.mgb-40, .mgb-40-all > * {
    margin-bottom: 40px;
}
.align-center {
    text-align: center;
}
[class*="line-b"] {
    position: relative;
    padding-bottom: 20px;
    border-color: #E6AF2A;
}
.fg-text-d, .fg-hov-text-d:hover, .fg-active-text-d.active {
    color: white;
}

.font-cond{
    color:rgb(224, 209, 209);
}

.font-cond-l{
    font-family: Arial, Helvetica, sans-serif;
    color:white;
}
/*Testimonial section css end*/

/*----------------------------------------------------------------------------------------------------------*/
/*Companies section css end*/

/*Social team section css start*/
/*Heading padding for TESTIMONIAL*/
.social-Heading {
  padding:5%;
  text-align: left;
  padding-left:16%;
}

.social-team-section{
    padding-top:0rem;
    background-image: url("team-bg.jpg");
    height: 550px; 
    background-position: center ; 
    background-repeat: no-repeat; 
    background-size: cover;
    min-height: 80vh;
}

body{margin-top:20px;}
.rs-team .team-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}
.rs-team .team-item:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.rs-team .team-item .team-img {
  position: relative;
}
/*name block before hower*/
.rs-team .team-item .team-img .normal-text {
  position: absolute;
  text-align: center;
  height: 80px;
  bottom: -1px;
  padding: 17px 0;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  background-color: rgba(217, 8, 69, 0.7);
  transition: .3s ease all;
  z-index: 10;
}
/*Name block style*/
.rs-team .team-item .team-img .normal-text .team-name {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
  display: block;
  text-transform: uppercase;
  padding: 0 0 3px;
}
.rs-team .team-item .team-img .normal-text .subtitle {
  color: #fff;
  margin: 0;
  display: block;
}
.rs-team .team-item .team-img img {
  width: 100%;
}
/*hower bg*/
.rs-team .team-item .team-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  text-align: center;
  z-index: 1;
  padding: 0px;
  opacity: 0;
  -webkit-transition: 0.5s all ease-out;
  transition: 0.s all ease-out;
}
/*hower bg*/
.rs-team .team-item .team-content:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgba(217, 8, 69, 0.8);
  z-index: -1;
}
.rs-team .team-item .team-name {
  margin-bottom: 2px;
}
.rs-team .team-item .team-name a {
  margin-bottom: 6px;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}
.rs-team .team-item .team-name a:hover {
  color: #fff;
}
.rs-team .team-item .postion {
  position: relative;
  z-index: 1;
  color: #fff;
}
.rs-team .team-item .share-icons {
  position: relative;
  max-width: 255px;
  margin: auto;
  opacity: 0;
}

.rs-team .team-item .team-social {
  position: relative;
}

.rs-team .team-item .team-social li {
  display: inline-block;
  position: relative;
  transition: all 0.3s ease-in-out 0s;
  padding: 31.5px;
}
/*social media icon*/
.rs-team .team-item .team-social li a {
  display: block;
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border: 1px solid #fff;
  text-align:center;
  border-radius: 100px;
  padding-left:1px;
  padding-top:10px;
  font-size: 28px;
}
.rs-team .team-item .team-social li a:hover {
  background: #fff;
  border-color: #fff;
  color: #d90845;
}
.rs-team .team-item:hover .team-content {
  top: 0;
}
.rs-team .team-item:hover .share-icons,
.rs-team .team-item:hover .team-content,
.rs-team .team-item:hover .team-social {
  opacity: 1;
  visibility: visible;
}
.rs-team .team-item:hover .normal-text {
  opacity: 0;
  visibility: hidden;
}
.rs-team.fullwidth-team .col-lg-3 {
  padding: 0;
}
.rs-team.fullwidth-team .col-lg-3 .team-item {
  margin-bottom: 0;
}
.rs-team.fullwidth-team .col-lg-3 .team-item .team-img .normal-text {
  text-align: left;
  background: transparent;
  padding-left: 15px;
}
.rs-team.rs-team2 .normal-text {
  clip-path: polygon(100% 100%, 0% 100%, 50% -95%);
}
.rs-team#rs-team3 .share-icons {
  max-width: 230px;
}
.rs-team#rs-team3.bg6,
.rs-team#rs-team3.bg4 {
  position: relative;
}

.rs-team#rs-team3 .container-fullwidth {
  position: relative;
  z-index: 1;
}
.rs-team#rs-team3 .team-item {
  margin-bottom: 30px;
}
.rs-team#rs-team3 .team-item .team-img .normal-text {
  height: 205px;
  bottom: -23%;
  padding: 30px 0;
  width: 86%;
  border-radius: 50%;
  clip-path: none;
}
.rs-team#rs-team3 .team-item .team-social li {
  padding: 20px;
}
.rs-team#rs-team3 .team-item .team-social.icons-1:before,
.rs-team#rs-team3 .team-item .team-social.icons-2:before {
  width: 80px;
}
.rs-team#rs-team3 .team-item .team-social.icons-1:after,
.rs-team#rs-team3 .team-item .team-social.icons-2:after {
  height: 70px;
}
.home5 .rs-team .team-item .team-img img {
  border-radius: 5px;
}

ul {
    list-style: outside none none;
    margin: 0;
    padding-right:20px;
}
/*Our team section css end*/

/*-------------------------------------------------------------------------------------------------------------------------*/
/*Featured companies css start*/
/*company section with bg*/
.company-section{
padding:5%;
background-image:url("drip.gif");
height: 550px; 
background-position: center ; 
background-repeat: no-repeat; 
background-size: cover;
min-height: 180vh;
}

/*padding for heading FEATURED COMPANY*/
.pad-company{
  padding-top:30%;
  padding-bottom:4%;
padding-right:10px;
text-align:right;

}

body{
  margin-top:0px;
}

.cover-background {
  position: relative !important;
  background-size: cover !important;
  overflow: hidden !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
}

.margin-30px-bottom {
  margin-bottom: 30px;
}


.box-hover:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.76);
  background: -webkit-linear-gradient(top, transparent, #000 116%);
  background: linear-gradient(-180deg, transparent, #000 116%);
  z-index: 0;
  width: 100%;
  height: 100%;
}
